/*
Commentaire en CSS

CSS => cascading style sheet ou Feuille de style en cascade

La cascade 

Le principe de base est : si on déclare du CSS pour un élément, la quasi totalité des éléments à l'intérieur vont appliquer ce style par HÉRITAGE

En revanche, si un style est défini en particulier (soit par défaut navigateur, soit pas des déclaration CSS du fichier), les éléments dans ce cas-ci n'appliqueront pas leur héritage.

Unités de tailles en CSS (en web)

Unités les plus souvent utilisées en web

px      =>  pixel il est possible de mesure avec des virgules, 23.8px)
em      =>  cadratin. Historiquement unité de mesure en print sur les presses.
            Le cadratin se calcul par rapport à la taille du parent
rem     =>  cadratin racine, lui se calculera toujours depuis la taille racine du cadratin, 
            - soit celle du navigateur 
            - soit celle surchargée dans le :root
%       =>  La taille définie en % se calcule par rapport à l'espace disponible autour de l'élément définie en %
vw & vh =>  vw : viewport width (largeur de la surface d'affichage de l'appareil)
            vh : viewport height ( hauteur d'affichage de l'appareil)
            50vh => 50% de la taille d'affichage du l'appareil
            si la largeur d'affichage du site 360px (100vw)
            50vw = 180px

Les sélecteurs CSS

Pour appliquer des propriétés CSS (du style) sur des éléments et les éléments à l'intérieur, il faut indiquer au navigateurs quels sont es élément en utilsants un Sélecteur CSS.

# => sélécteur d'élément avec un id défini
    ATTENTION : Les id d'une page doivent être UNIQUES
    Ex : <h3 id="mise-a-zero-du-css">Mise à zéro du CSS</h3>

    Sélécteur : 
        #mise-a-zero-du-css{
            -- CSS
        }

. => sélécteur par nom de classe
    Ex : <span class="danger">code</span>

    Sélécteur : 
    .danger{
        -- CSS
    }

balise => Sélécteur par nom de balise

    Ex : <h1>Titre</h1>

    Sélécteur : 
    h1{
        -- CSS
    }

    L'abbreviation emmet fonctionne comme ça : 

    
ET maintenant, on mélange TOUT !
il existe un norme dans l'écriture des sélécteurs (l'abbreviation emmet utilise cette norme)

un élément particulier utilisant une classe particulière

span.danger => tout les éléments span ayant au moins la classe danger

    Quand le sélecteur de class .classe est "collé" à l'élément, cela veux dire que la classe est écrite dans l'attribut class de l'élément
    <span class="danger"></span>

span.danger.titi => <span class="titi danger tutu"></span> un élément span ayant au moins la class danger ET la class titi dans l'attribut class

Il est possible aussi de désigner par "filiation"

main section => dans un élément main, tous les descendants de type section

<main>
    <section>
    Corresponds au sélecteur
        <section>
            Corresponds au sélecteur
        </section>
        <section>
            Corresponds au sélecteur
        </section>
    </section>
</main>

main > section => dans un élément main, tous les descendants directs type section

<main>
    <section>
        Corresponds au sélecteur
        <section>
            Ne corresponds pas au sélecteur
        </section>
        <section>
            Ne corresponds pas au sélecteur
        </section>
    </section>
    <section>
        Corresponds au sélecteur
        <section>
            Ne corresponds pas au sélecteur
        </section>
        <section>
            Ne corresponds pas au sélecteur
        </section>
    </section>
</main>

article.news p => tous les descendant p d'un élément article ayant au moins la classe news

Sélécteur "magique"

* => tous les éléments de la page

Pseudo-selecteurs

Il existe des "espace" compris entre le contenu et le début d'une balise, le avant (::before) et le après (::after) dans lequel on peut déclarer du contenu (propriété content), des police de caractère pour ce contenu

q::before, q::after{
    color: #333;
    font-family: Impact;
    content: '<>';
}

Pseudo-classes 

Certains éléments changent "d'état" dans leurs utilisation, par exemple, quand la souris passe "au dessus" (survol), un élément est dans l'état "survolé" :hover

q:hover{
    color: red;
    background-color: black;
}

quand un élément q est survolé, la police de caractère devient rouge et la couleur de fond passe au noir.

*/
/* Imports de CSS */
/* Les imports de CSS dans un fichier CSS nécéssitent d^ter fait en tout premier, avant toutes autres déclarations CSS (hors commentaires et autres imports) */
@import url('./bootstrap-icons.css');

/* Déclarations du :root */

:root{
    /* Il est possible de créer des variables en CSS qui seront réutilisables dans tout le document */
    font-family: Arial, Helvetica, sans-serif;
    --site-font-size: 20px;
    font-size: var(--site-font-size);
    /* ce facteur est le taux qui permet d'avoir une hauteur de ligne harmonieuse avec la hauteur de police de base */
    --line-height-factor: 1.6;
    /* la hauteur de ligne est calculé par rapport à la taille de la police multipliée par le taux de hauteur de ligne pour rendre le texte accessible */
    --site-line-height: calc( var(--site-font-size) * var(--line-height-factor) ) ;
    line-height: var(--site-line-height);
    --gouttiere: calc( var(--site-font-size) / 2);
    --header-bg-color: rgb(51, 51, 51);
    --header-color: rgb(255, 255, 255);

    --light-bg-color: #ddd;
    --dark-bg-color: #454545;
    --info-bg-color: #b4d0e8;
    --danger-bg-color: #f1aeb5;
    --success-bg-color: #a3cfbb;
    --warning-bg-color: #f1d3ae;

    --light-border-color: #666;
    --dark-border-color: black;
    --info-border-color: #1583e3;
    --danger-border-color: #ea2a3d;
    --success-border-color: #07ca73;
    --warning-border-color: #ec8a12;

    --dark-color: white;

    --darkgreen: #072620;
}

/* Déclarations générales */

*{
    box-sizing: border-box;
}

/* Les éléments de formulaire */

form.contact-form{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form input:focus,
.contact-form input:focus-visible{
    outline-color:var(--info-border-color);
}

.contact-form input:valid, 
.contact-form select:valid,
.contact-form textarea:valid{
    border-color: var(--success-bg-color);
}

.contact-form input:invalid, 
.contact-form select:invalid,
.contact-form textarea:invalid{
    border-color: var(--danger-bg-color);
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea{
    border-style: solid;
    border-radius: calc( var(--gouttiere) / 4 );
    border-width: 2px;
    font-size: var(--site-font-size);
    height: var(--site-line-height);
}

.contact-form textarea{
    width: 100%;
    height: 25vh;
}

table{
    border-collapse: collapse;
}

table tr{
    border-bottom: 1px solid var(--light-bg-color);
}

table th, table td{
    padding: calc( var(--gouttiere) / 2 );
}

/* Déclaration de classes */

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.danger{
    font-size: large;
    font-family: 'Impact';
    color: darkred;
}

.exemple-position{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    margin: 1rem;
    position: relative;
}
/* Principe du D.R.Y. ou Don't Repeat Yrouself : on "factorise" on regroupe les élément ayant les mêmes déclarations */

.carre-ex{
    width: 50px;
    height: 50px;
    opacity: 1;
}

.carre-rouge{
    background-color: darkred;
    position: absolute;
    top: 10px;
    left: 10px;
}

.carre-vert{
    background-color: darkgreen;
}

.vignette-100,
.miniature-100,
.avatar-100{
    width: 100px;
    height: 100px;
    background-color: var(--header-bg-color);
    object-position: center center;
}

.vignette-100{
    object-fit: cover;
}

.miniature-100{
    object-fit: contain;
}

.avatar-100{
    object-fit: contain;
    border-radius: 50%;
}

.img-fluid{
    max-width: 100%;
}

figure.media-legend{
    background-color: var(--header-bg-color);
    color: var(--header-color);
    display: inline-block;
    padding: var(--gouttiere);
    border-radius: calc(var(--gouttiere) / 1);
}

figure.media-legend > div{
    display: table;
}

figure.media-legend figcaption{
    display: table-caption;
    caption-side: bottom;
    text-align: center;
}

.video{
    position:relative;
    height:0;
    overflow:hidden;
}

.video-16-9{
    padding-bottom:56.25%;
}

.video-4-3{
    padding-bottom:75%;
}

.video > *{
    width:100%; 
    height:100%; 
    position:absolute; 
    left:0px; 
    top:0px; 
    overflow:hidden; 
    border:none;
}

.message{
    margin: var(--gouttiere);
    padding: calc(var(--gouttiere) / 2) ;
    font-size: 0.8rem;
    font-style: italic;
    border: 2px solid transparent;
    border-radius: calc(var(--gouttiere) / 2) ;
}

.btn{
    margin: calc( var(--gouttiere) /2);
    padding: calc( var(--gouttiere) /2);
    border: 2px solid transparent;
    border-radius: calc( var(--gouttiere) /2);
    cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:focus-visible{
    opacity: 0.8;
}

.message::before{
    display: inline-block;
    font-family: 'bootstrap-icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125rem;
}


.message-info,
.btn-info,
.table-info tr{
    border-color: var(--info-border-color);
    background-color: var(--info-bg-color);
}

.message-info::before{
    content: '\F430';
}

.message-light,
.btn-light,
.table-light tr{
    border-color: var(--light-border-color);
    background-color: var(--light-bg-color);
}
.message-dark,
.btn-dark,
.table-dark tr{
    border-color: var(--dark-border-color);
    background-color: var(--dark-bg-color);
    color: var(--dark-color);
}
.message-danger,
.btn-danger,
.table-danger tr{
    border-color: var(--danger-border-color);
    background-color: var(--danger-bg-color);
}
.message-success,
.btn-success,
.table-success tr{
    border-color: var(--success-border-color);
    background-color: var(--success-bg-color);
}

.message-warning,
.btn-warning,
.table-warning tr{
    border-color: var(--warning-border-color);
    background-color: var(--warning-bg-color);
}

/* gérer le "dépassement de contenu d'une boîte avec overflow */
.table-responsive{
    overflow-x: auto;
}

.left{
    display: block;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    height: 150px;
}

.flexbox > *{
    height: 50px;
}

.w-25{
    width: 25%;
}

.h-start{
    justify-content: flex-start;
}

.h-center{
    justify-content: center;
}

.h-end{
    justify-content: flex-end;
}

.h-around{
    justify-content: space-around;
}

.h-between{
    justify-content: space-between;
}

.h-evenly{
    justify-content: space-evenly;
}

.v-items-center{
    align-items: center;
}

.v-self-start{
    align-self: flex-start;
}

.v-self-center{
    align-self: center;
}

.v-self-end{
    align-self: flex-end;
}

/* classe animations (jour 4) */
.translation{
    /* on prépare le type d'animation ou de transformation qu'on va faire à l'élémnet ayant cette classe */
    transition: transform 0.5s;
}

.translation:hover{
    transform: translate(10px, 10px);
}

.scale-border{
    transition: transform 2s, border 1s;
    border: 0px dashed red;
}

.scale-border:hover{
    transform: scale(1.1);
    border-width: 2px;
    background-color: var(--danger-bg-color);
}

.espace-animation{
    width: 100%;
    padding-bottom: 30%;
    height: 0;
    position: relative;
    border: 1px solid black;
}

.cercle-anime{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation{
    /* description de l'animation */
    /*
    animation c'est une propriété raccourcie
    animation-name              : nom de l'animation
    animation-duration          : durée de l'animation
    animation-timing-function   : la vitesse constante ou non de l'animation
    animation-delay             : le délais avant que l'animation soit jouée
    animation-iteration-count   : le nombre de fois que se joue l'animation
    animation-direction         : le "sens" de l'animation (on commence par la première vers la dernière image clef ou l'inverse)
    */
    animation-name: cercle-qui-bouge;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Une fois qu'on a programmé l'animation, il faut définir ses images-clefs */

@keyframes cercle-qui-bouge{
    0%{
        left: 0%;
        top: 25%;
        transform: rotate(0deg);
    }
    20%{
        top: 0%;
    }
    50%{
        left: 75%;
        top: 25%;
        transform: rotate(360deg);
    }
    100%{
        left: 0%;
        top: 25%;
    }
}

.cadre-chargement{
    width: 100%;
    border: 1px solid darkgreen;
    margin: var(--gouttiere);
    height: auto;
}

.chargement{
    height: 0.8rem;
    margin: var(--gouttiere);
}

.chargement > *{
    width: 100%;
    height: 100%;
    background-color: darkgreen;
    animation-name: chargement;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: left center;
}

.chargement-1{
    animation-timing-function: ease;
}

.chargement-2{
    animation-timing-function: ease-in;
}

.chargement-3{
    animation-timing-function: ease-out;
}

.chargement-4{
    animation-timing-function: ease-in-out;
}

.chargement-5{
    animation-timing-function: linear;
}

.chargement-6{
    animation-timing-function: steps(10, end);
}

@keyframes chargement{
    0%{
        transform: scaleX(0);
    }
    90%{
        transform: scaleX(1);
    }
}

.clignoter{
    animation: clignoter 0.4s infinite alternate;
}

@keyframes clignoter{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

/* Déclaration selon la structure de la page */

body{
    margin: 0;
}

body > header > *,
body > nav > *,
main > header,
main > aside,
section > header,
section article,
body > footer > *{
    padding-left: var(--gouttiere);
    padding-right: var(--gouttiere);
}

body > header,
body > nav{
    background-color: var(--header-bg-color);
    color: var(--header-color);
    padding: 10px 0;
}


body > nav ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

body > nav li{
    border-top: 1px solid var(--header-color)
}

body > nav a,
body > nav a:visited{
    color: var(--header-color);
    text-decoration: none;
    display: block;
}

body > nav a:hover,
body > nav a:focus,
body > nav a:focus-visible{
    color: var(--header-bg-color);
    background-color: var(--header-color);
    outline: none;
}

/* css pour le print */

@media print {
    :root{
        font-family: unset;
        font-size: unset;
        line-height: unset;
    }

    body > nav{
        display: none;
    }
}

/* Déclarations pour l'adaptatif */
/*
les points de ruptures les plus utilisés en adaptatif

la plupart des css adaptatifs reprennent ceux proposés par bootstrap

|min-width (largeur de l'écran)     | largeur du contenu a "restreindre"|
|-----------------------------------|-----------------------------------|
|smartphone < 576px                 |   100% de l'espace disponible     |
|small <= 576px => sm               |   540px de l'espace disponible    |
|medium <= 768px  => md             |   720px de l'espace disponible    |
|large <= 992px   => lg             |   960px de l'espace disponible    |
|extra-large <= 1200px => xl        |   1140px de l'espace disponible   |
|extra-extra-large <= 1400px => xxl |   1320px de l'espace disponible   |
|-----------------------------------|-----------------------------------|

*/

@media screen and (min-width: 576px) {
    .container{
        width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container{
        width: 720px;
    }

    .left{
        display: inline;
        float: left;
    }
}

@media screen and (min-width: 992px) {
    .container{
        width: 960px;
    }

    body > nav ul{
        display: flex;
        flex-wrap: wrap;
    }

    body > nav li{
        border-top: unset;
        border-right: 1px solid var(--header-color);
    }

    body > nav li:last-child{
        border-right: unset;
    }

    body > nav a{
        padding-left: var(--gouttiere);
        padding-right: var(--gouttiere);
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    .container{
        width: 1320px;
    }
}